/* Common */
body, h1, h2, h3 { 
    font-family: 'Open Sans', sans-serif;
}

/* Header */
.titlebar { width: 100%; }

h1 {  
    font-size: 1.5em;
    padding: 10px 15px 5px 15px;
    margin-top: 0;
    color: white;  
    background: #0099CC;
}
h1 a, h1 a:hover {
    color: white;
} 

/* Venue listing */
h3 {
    height: 50px;
    border-bottom: 1px dotted #0099CC;
}
h3 a, h3 a:hover { 
    display: block;
    max-height: 50px;
    padding-top: 10px;
    color: #0099CC;
    overflow: hidden;
    text-overflow: initial;
}

/* Search input */
#search { 
    display: block; 
    margin-top: 10px;
}

/* Tag list */
.tags { 
    height: 60px;
    padding: 0 12px 1em 0;
    margin-bottom: 10px;
    overflow: hidden; 
}
.tag { 
    display: inline-block;
    padding: 1px 4px 3px 2px;
    margin-top: 1px;
    background: #ECEAEA;
    border-bottom: 1px solid #D6D5D5;
    border-right: 1px solid #D6D5D5;    
}

/* Opening hours table */
.opening-hours td.hhmm { 
    width: 100%;
    text-align: right; 
}

/* Open/Closed box */
.open, .closed {
    width: 70px; 
    padding: 4px 6px 2px 6px; 
    display: inline-block; 
    color: white;
    float: right; 
    border-right: 3px solid #006600; 
    border-bottom: 3px solid #006600;
}
.open {  
    background-color: #339933;
}
.closed {
    background-color: red;
    border-color: #990000;
}
